.hidden {
    display: none;
    /* Ẩn nội dung */
}


/* Navigation styling */
.navbar-nav .nav-link {
    padding: 10px 20px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.navbar-nav .nav-link:hover {
    background-color: #ffffff30;
    /* Tạo hiệu ứng hover với nền trắng mờ */
    border-radius: 5px;
    color: #f8f9fa;
    /* Màu chữ sáng hơn khi hover */
}

.navbar-nav .active {
    background-color: #ffffff50;
    border-radius: 5px;
    color: #f8f9fa;
}

header {
    background: linear-gradient(45deg, #007bff, #0056b3);
    /* Hiệu ứng gradient cho thanh header */
}

h1,
p.lead {
    margin-bottom: 0;
}

/* Custom mobile responsiveness */
.navbar-toggler {
    border-color: #fff;
    /* Màu trắng cho icon toggle trên mobile */
}